@* @using DancingGoat.Models;

@model ArticlesSectionViewModel

@{
    var i = 1;
}

<div class="articles-section">
    <div class="row">
        <div class="title-wrapper">
            <h1 class="title-tab">@HtmlLocalizer["Latest article"]</h1>
        </div>
        @{ var first = true; }
        @foreach (var article in Model.Articles)
        {
            if (first)
            {
                first = false;
                <div class="article-tile article-tile-large">
                    <div class="article-tile-inner">
                        <div class="col-md-12 col-lg-6 col-xl-5">
                            @if (article.TeaserUrl != null)
                            {
                                <a href="@article.Url">
                                    <img src="@article.TeaserUrl" alt="@article.Title" title="@article.Title" class="article-tile-image" loading="lazy" />
                                </a>
                            }
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-7 article-tile-info">
                            <div class="article-tile-date">
                                @article.PublicationDate.ToString("m")
                            </div>
                            <div class="article-tile-content">
                                <h2>
                                    <a href="@article.Url">@article.Title</a>
                                </h2>
                                <p class="article-tile-text lead-paragraph">
                                    @article.Summary
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                var lastInRow = "";
                if (i % 4 == 0)
                {
                    lastInRow = "last";
                }

                <div class="col-md-3 article-tile article-tile-small @lastInRow">
                    <div class="article-tile-inner">
                        @if (article.TeaserUrl != null)
                        {
                            <a href="@article.Url">
                                <img src="@article.TeaserUrl" alt="@article.Title" title="@article.Title" class="article-tile-image" loading="lazy" />
                            </a>
                        }
                        <div class="article-tile-info">
                            <div class="article-tile-date">
                                @article.PublicationDate.ToString("m")
                            </div>
                            <div class="article-tile-content">
                                <h2 class="h4">
                                    <a href="@article.Url">@article.Title</a>
                                </h2>
                                <p class="article-tile-text">
                                    @article.Summary
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                if (i % 4 == 0)
                {
                    <div class="clear"></div>
                }
                i++;
            }
        }
    </div>

    <div class="row">
        <div class="clear center-text">
            <a href="@Model.ArticlesPath" class="btn btn-more">
                @HtmlLocalizer["More articles"]
            </a>
        </div>
    </div>
</div> *@


@using DancingGoat.Models;

@model ArticlesSectionViewModel

@{
    var i = 1;
}

<div class="articles-section">
    <div class="row">
        @{
            var first = true;
        }
        @foreach (var article in Model.Articles)
        {
            if (first)
            {
                first = false;
                <section class="content-block text-left-image-right background-background">
                    <figure>
                        @if (article.TeaserUrl != null)
                        {
                            <img srcset="@article.TeaserUrl" src="@article.TeaserUrl" alt="@article.Title" title="@article.Title"
                                class="article-tile-image" loading="lazy" />
                        }
                    </figure>
                    <div class="content">
                        <p class="sub-title">@article.Title</p>
                        <h2>@HtmlLocalizer["Helping customers produce healthy high performance herds"]</h2>
                        <p>@article.Summary</p>
                        <a href="@article.Url" target="" role="button">@HtmlLocalizer["Find out more"]</a>
                    </div>
                </section>
            }
            else
            {
                var lastInRow = "";
                if (i % 4 == 0)
                {
                    lastInRow = "last";
                }

                if (i % 2 == 0)
                {
                    <section class="content-block text-left-image-right background-background @lastInRow">
                        <figure>
                            @if (article.TeaserUrl != null)
                            {
                                <img srcset="@article.TeaserUrl" src="@article.TeaserUrl" alt="@article.Title" title="@article.Title"
                                    class="article-tile-image" loading="lazy" />
                            }
                        </figure>
                        <div class="content">
                            <p class="sub-title">@HtmlLocalizer["KWFEEDS"]</p>
                            <h2>@HtmlLocalizer["Supporting farming"]</h2>
                            <p>@article.Summary</p>
                            <a href="@article.Url" target="" role="button">@HtmlLocalizer["Find out more"]</a>
                        </div>
                    </section>
                }
                else
                {
                    <section class="content-block text-right-image-left background-background @lastInRow">
                        <figure>
                            @if (article.TeaserUrl != null)
                            {
                                <img srcset="@article.TeaserUrl" src="@article.TeaserUrl" alt="@article.Title" title="@article.Title"
                                    class="article-tile-image" loading="lazy" />
                            }
                        </figure>
                        <div class="content">
                            <p class="sub-title">@HtmlLocalizer["KWFEEDS"]</p>
                            <h2>@HtmlLocalizer["Supporting farming"]</h2>
                            <p>@article.Summary</p>
                            <a href="@article.Url" target="" role="button">@HtmlLocalizer["Find out more"]</a>
                        </div>
                    </section>
                }

                if (i % 4 == 0)
                {
                    <div class="clear"></div>
                }
                i++;
            }
        }
    </div>
</div>
