@using DancingGoat.Models

@model ProductListItemViewModel


<li>
    <div class="product-logo">
        <figure>
            <img src="~/Content/Images/KW-new-logo.png" alt="KW-new-logo" />
        </figure>
    </div>
    <figure>
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Model.ImagePath" alt="@Model.Name" title="@Model.Name" />
        }
    </figure>
    <div class="content">
        <h2>@Model.Name</h2>
        <p>@Model.ShortDescription</p>
        <div class="actions">
            <a href="@Model.Url" target="" role="button">Find out more</a>
        </div>
    </div>
</li>


@*
<article class="product-tile">
<a href="@Model.Url">
<h1 class="product-heading">@Model.Name</h1>
<figure class="product-tile-image">
@if (!string.IsNullOrEmpty(Model.ImagePath))
{
<img src="@Model.ImagePath" alt="@Model.Name" title="@Model.Name" />
}
</figure>
</a>
</article> *@