@model DancingGoat.Models.HomePageViewModel

@using System.Linq;

@if (Model.Banner != null)
{
    <vc:banner banner="@Model.Banner" />
}


<section class="actions-block" style="margin-top: 20px;">
    <ul>
        <li>
            <a href="#">
                <figure>
                    <img srcset="~/Content/Images/product-of-the-month.png"
                        src="~/Content/Images/product-of-the-month.png" title="Product of the Month">
                </figure>
                <div class="content">
                    <h3>PRODUCT OF THE MONTH</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <figure>
                    <img srcset="~/Content/Images/kw-in-the-press.png" src="~/Content/Images/kw-in-the-press.png"
                        title="KW in the Press">
                </figure>
                <div class="content">
                    <h3>FIND KW</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <figure>
                    <img srcset="~/Content/Images/find-kw.png" src="~/Content/Images/find-kw.png" title="Find KW">
                </figure>
                <div class="content">
                    <h3>Menus</h3>
                </div>
            </a>
        </li>
    </ul>
</section>
<section class="product-block">
    <div class="content">
        <h2>Our Products</h2>
    </div>
    <div class="slider auto-scroll transition-slide">
        <input type="radio" name="slider_products" id="slide-products-0" checked>
        <input type="radio" name="slider_products" id="slide-products-1">
        <input type="radio" name="slider_products" id="slide-products-2">
        <ul>

            @* @foreach (var cafe in Model)
            {
                <li>

                    <vc:cafe cafe="@cafe" />

                </li>
            } *@


            @if (Model.Products != null && Model.Products.Any())
            {
                
                    @foreach (var product in Model.Products)
                    {
                          <li>
<div class="product-logo">
        <figure>
            <img src="~/Content/Images/KW-new-logo.png" alt="KW-new-logo" />
        </figure>
    </div>
    <figure>
        @if (!string.IsNullOrEmpty(@product.ImageUrl))
        {
            <img src="@product.ImageUrl" alt="@product.Name" title="@product.Name"
                class="ourcoffee-tile-image" loading="lazy" />
        }
    </figure>
    <div class="content">
    <h2>@product.Name</h2>
    <p>@product.ShortDescription</p>
        <div class="actions">
            <a href="/products" target="" role="button">Find out
                more</a>
        </div>
    </div>
                          </li>
                        
                    }
                
            }
            <!-- Repeat similar blocks for other products -->
        </ul>
        <div class="arrows">
            <label for="slide-products-0"></label>
            <label for="slide-products-1"></label>
            <label for="slide-products-2"></label>
        </div>
    </div>
    <div class="actions">
        <a href="/products" target="" role="button">All Products</a>
    </div>
</section>


@if (Model.ArticlesSection != null)
{
    <vc:articles articles-section-item="@Model.ArticlesSection" />
}


<partial name="~/Views/Shared/_LogoSection.cshtml" />