@model DancingGoat.Models.HomePageViewModel

@using System.Linq;

@if (Model.Banner != null)
{
    <vc:banner banner="@Model.Banner" />
}

@* <vc:cafe-card-section cafes="@Model.Products" /> *@

@if (Model.Products != null && Model.Products.Any())
{
    <div class="products-section">
    @foreach (var product in Model.Products)
        {
            <div class="product-item">
                <img src="@product.ImagePath" alt="@product.Name" />
                <h3>@product.Name</h3>
                <p>@product.ShortDescription</p>
                <a href="@product.Url">View Product</a>
            </div>
        }
    </div>
}

@if (Model.ArticlesSection != null)
{
    <vc:articles articles-section-item="@Model.ArticlesSection" />
}


<partial name="~/Views/Shared/_LogoSection.cshtml" />