@addTagHelper *, Kentico.Content.Web.Mvc
@model KwFeeds.Models.ProductPageViewModel

@{
    ViewBag.Title = Model.Title;
}

@section styles
{
    <page-builder-styles />
}
@section scripts
{
    <page-builder-scripts />
}

<section class="page-header-block">
    <figure>
        <img src="~/Content/Images/inner-page-header.png" alt="Page Header">
    </figure>
    <div class="content">
        <h2>@Model.Title</h2>
    </div>
</section>

<section class="shop-block">
    <div class="intro">
        <h3>HOME / OUR FEEDS / @Model.Title</h3>
        <p>All Products</p>
    </div>
    <div class="shop-container">
        <div class="shop-filters">
            <div class="accordion">
                <input type="checkbox" id="accordion-location">
                <h3><label for="accordion-location">Your Location</label></h3>
                <div class="panel">
                    <ul>
                        <li class="checkbox">
                            <input id="filter-location-midlands" type="checkbox" class="custom-filter" name="location"
                                value="Midlands">
                            <label for="filter-location-midlands">Midlands</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-location-north-england" type="checkbox" class="custom-filter"
                                name="location" value="North England">
                            <label for="filter-location-north-england">North England</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-location-scotland" type="checkbox" class="custom-filter" name="location"
                                value="Scotland">
                            <label for="filter-location-scotland">Scotland</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-location-south-england" type="checkbox" class="custom-filter"
                                name="location" value="South England">
                            <label for="filter-location-south-england">South England</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input type="checkbox" id="accordion-types-of-stock">
                <h3><label for="accordion-types-of-stock">Type of stock</label></h3>
                <div class="panel">
                    <ul>
                        <li class="checkbox">
                            <input id="filter-type-of-stock-cattle" type="checkbox" class="custom-filter" name="stock"
                                value="Cattle">
                            <label for="filter-type-of-stock-cattle">Cattle</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-type-of-stock-sheep" type="checkbox" class="custom-filter" name="stock"
                                value="Sheep">
                            <label for="filter-type-of-stock-sheep">Sheep</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-type-of-stock-poultry" type="checkbox" class="custom-filter" name="stock"
                                value="Poultry">
                            <label for="filter-type-of-stock-poultry">Poultry</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-type-of-stock-horses" type="checkbox" class="custom-filter" name="stock"
                                value="Horses">
                            <label for="filter-type-of-stock-horses">Horses</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input type="checkbox" id="accordion-types-of-feed">
                <h3><label for="accordion-types-of-feed">Type of feed</label></h3>
                <div class="panel">
                    <ul>
                        <li class="checkbox">
                            <input id="filter-type-of-feed-ab-neo" type="checkbox" class="custom-filter" name="feed"
                                value="AB Neo">
                            <label for="filter-type-of-feed-ab-neo">AB Neo</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-type-of-feed-blends" type="checkbox" class="custom-filter" name="feed"
                                value="Blends">
                            <label for="filter-type-of-feed-blends">Blends</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-type-of-feed-compounds" type="checkbox" class="custom-filter" name="feed"
                                value="Compounds">
                            <label for="filter-type-of-feed-compounds">Compounds</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-type-of-feed-forage-products-seeds" type="checkbox" class="custom-filter"
                                name="feed" value="Forage Products/Seeds">
                            <label for="filter-type-of-feed-forage-products-seeds">Forage Products/Seeds</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input type="checkbox" id="accordion-storage-options">
                <h3><label for="accordion-storage-options">Storage Options</label></h3>
                <div class="panel">
                    <ul>
                        <li class="checkbox">
                            <input id="filter-storage-options-silo" type="checkbox" class="custom-filter" name="storage"
                                value="Silo">
                            <label for="filter-storage-options-silo">Silo</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-storage-options-bagged" type="checkbox" class="custom-filter"
                                name="storage" value="Bagged">
                            <label for="filter-storage-options-bagged">Bagged</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-storage-options-bulk" type="checkbox" class="custom-filter" name="storage"
                                value="Bulk">
                            <label for="filter-storage-options-bulk">Bulk</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input type="checkbox" id="accordion-feeding-systems">
                <h3><label for="accordion-feeding-systems">Feeding Systems</label></h3>
                <div class="panel">
                    <ul>
                        <li class="checkbox">
                            <input id="filter-feeding-systems-tmr" type="checkbox" class="custom-filter" name="feeding"
                                value="TMR">
                            <label for="filter-feeding-systems-tmr">TMR</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-feeding-systems-tray" type="checkbox" class="custom-filter" name="feeding"
                                value="Tray">
                            <label for="filter-feeding-systems-tray">Tray</label>
                        </li>
                        <li class="checkbox">
                            <input id="filter-feeding-systems-mixer" type="checkbox" class="custom-filter"
                                name="feeding" value="Mixer">
                            <label for="filter-feeding-systems-mixer">Mixer</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-list">
            <ul>
              
                @foreach (var product in Model.Products)
                    {
                        <li>
                            <div class="product-logo">
                                <figure>
                                    <img src="@product.ProductLogo" alt="" />
                                </figure>
                            </div>
                            <figure>
                                <img src="@product.ProductImage" alt="">
                            </figure>
                            <div class="content">
                                <h2>@product.Title</h2>
                            <p>@Html.Raw(product.ProductDescription)</p>
                                <div class="actions">
                                    <a href="single-product.html" target="" role="button">Find out more</a>
                                </div>
                            </div>
                        </li>
                    }
                
            </ul>
            <div class="pagination">
                @* <p>SHOWING 12/@Model.TotalProducts PRODUCTS</p> *@
                <a href="#" target="" role="button">Show More</a>
            </div>
        </div>
    </div>
</section>

<section class="form-block background-accent-1">
    <div class="content">
        <h2>Contact Us Today</h2>
        <p>Use the contact form below to get in touch if you have any question or need some help about our company or
            products.</p>
    </div>
    <form id="contact-form" action="https://trulycontent.com/hollpartitions/contact/" method="post"
        class="contact-form">
        <p class="half input">
            <input type="text" name="full_name" id="contact-name" placeholder="&nbsp;" required>
            <label for="contact-name">Your Full Name*</label>
        </p>
        <p class="half input">
            <input type="email" name="email" id="contact-email" placeholder="&nbsp;" required>
            <label for="contact-email">Your Email*</label>
        </p>
        <p class="half input">
            <input type="tel" name="phone" id="contact-phone" placeholder="&nbsp;">
            <label for="contact-phone">Your Phone Number</label>
        </p>
        <p class="half select">
            <select name="appointment_date" id="date" class="date" required>
                <option disabled hidden selected>Enquiry Type</option>
                <option value="General Enquiry">General Enquiry</option>
                <option value="Product Support">Product Support</option>
                <option value="Sales">Sales</option>
                <option value="Other">Other</option>
            </select>
        </p>
        <p class="full input">
            <textarea name="message" id="contact-query" placeholder="&nbsp;"></textarea>
            <label for="contact-query">Write your message</label>
        </p>
        <input type="hidden" name="form_id" value="1581">
        <div class="submit full">
            <button type="submit">SUBMIT</button>
            <input id="recaptcha-token" type="hidden" name="token" value="">
        </div>
    </form>
</section>

<partial name="~/Views/Shared/_LogoSection.cshtml" />