@model DancingGoat.Models.TraffordGoldIndexViewModel


<section class="page-header-block">
    <figure>
        <img src="~/Content/Images/inner-page-header.png">
    </figure>
    <div class="content">
        <h2>Trafford Gold</h2>
    </div>
</section>

<section class="content-block text-left-image-right background-background">
   
        <figure>
           
        
                <div>
                <img src="@Model.FirstImage.ImageFile" alt="@Model.FirstImage.ImageShortDescription" />
                </div>
        
        </figure>
        <div class="content">
            <p class="sub-title">More than feed</p>
            <h2>C★Traffordgold Availability</h2>
        @Model.FirstImage.ImageShortDescription
            <a href="#" target="" role="button">Find out more</a>
        </div>
    
</section>
<section class="content-block background-accent-1 text-right-image-left">
    @* @foreach (var image in Model.Image)
    {
        <figure>
            @if (!string.IsNullOrEmpty(image.ImageFile.Url))
            {
                <img src="@image.ImageFile.Url" alt="@image.ImageShortDescription">
            }
        </figure>
    } *@

    <div class="content">
        <p class="sub-title">Trafford Gold</p>
        <h1>Key Features</h1>
        <div>
            <ul>
                <li>High energy content for improved milk production and weight gain.</li>
                <li>Rich source of protein for muscle development and maintenance.</li>
                <li>Easily digestible ingredients for efficient nutrient absorption.</li>
                <li>Balanced formulation to support overall health and vitality.</li>
                <li>Ideal for lactating cows, growing calves, and finishing cattle.</li>
            </ul>
        </div>
    </div>
</section>
<section class="news-block list-block">
    <ul class="items-list">
        @foreach (var newsItem in Model.NewsItems)
        {
            <li>
                <a href="@newsItem.Url">
                    <div class="featured-img">
                        <figure>
                            <img src="@Url.Content(newsItem.ImagePath)" alt="@newsItem.Name">
                        </figure>
                    </div>
                    <h3>@newsItem.Name</h3>
                    <p>@newsItem.ShortDescription</p>
                </a>
            </li>
        }
    </ul>
</section>
<section class="content-block background-accent-1 text-left-image-right">
    <figure>
        <img srcset="images/Group%20102.png" src="images/Group%20102.png" alt="cows image" title="" />
        <p>The Role of Nutrition in Dairy Cow Feeding</p>
    </figure>
    <div class="content">
        <p class="sub-title">MORE THAN FEED</p>
        <h1>Video Gallery</h1>
        <p>New C★Traffordgold is produced in Cargill Plc's processing facility in Trafford Park, Manchester and is
            generally available in plentiful supply throughout the year.</p>

        <p>New C★Traffordgold is produced in Cargill Plc's processing facility in Trafford Park, Manchester and is
            generally available in plentiful supply throughout the year.</p>
        <a href="#" target="" role="button">Find out more</a>
    </div>
</section>
<section class="content-block background-background text-centre">
    <div class="content">
        <p class="sub-title">MORE THAN FEED</p>
        <h1>KW Alternative Feeds</h1>
        <p>C★Traffordgold is just one of the products in the extensive KW Alternative Feeds range.</p>
        <p>As the largest supplier of Alternative Feeds, KW supplies hundreds of thousands of tonnes of moist, dry and
            blended feeds to livestock producers across the UK and Ireland.</p>

        <p>We have the widest choice of feed products available - from traditional imported straights to a growing range
            of UK-produced feeds from the brewing, distilling and food processing industries.</p>

        <p>We have a team of Alternative Feed Specialists who work closely with many different milk, beef and lamb
            producers helping to create the best diets for their animals.</p>

        <p>In addition, we have a network of eight regional trading offices which support our feed specialists, across
            all species groups. These teams offer instant access to accurate information on feed prices and
            availability.</p>
        <p>As part of the AB Agri group of businesses, we have the resources, backing and vision to dedicate ourselves
            to improving the profitability of the UK's food and farming industries.</p>
        <a href="#" target="" role="button">Find out more</a>
    </div>
</section>
<section class="form-block">
    <div class="content">
        <h2>Contact Us Today</h2>
        <p>Use the contact form below to get in touch if you have any question or need some help about our company or
            products.</p>
    </div>
    <form id="form-1581" action="https://trulycontent.com/hollpartitions/contact/" method="post" class="form-1581">
        <p class="half input">
            <input type="text" name="full_name" id="contact-name" placeholder="&nbsp;" required="">
            <label for="contact-name">Your Full Name*</label>
        </p>

        <p class="half input">
            <input type="email" name="email" id="contact-email" placeholder="&nbsp;" required="">
            <label for="contact-email">Your Email*</label>
        </p>
        <p class="half input">
            <input type="tel" name="phone" id="contact-phone" placeholder="&nbsp;">
            <label for="contact-phone">Your Phone Number</label>
        </p>
        <p class="half select">
            <select name="appointment_date" id="date" class="date" required="">
                <option disabled="" hidden="" selected="">Enquiry Type</option>
                <option value="2024-04-23">Test</option>
                <option value="2024-04-24">Test</option>
                <option value="2024-04-25">Test</option>
                <option value="2024-04-26">Test</option>
                <option value="2024-04-27">Test</option>
            </select>
        </p>
        <p class="full input">
            <textarea name="message" id="contact-query" placeholder="&nbsp;"></textarea>
            <label for="contact-query">Write your message</label>
        </p>
        <input type="hidden" name="form_id" value="1581">
        <div class="submit full">
            <button type="submit">SUBMIT</button>
            <input id="recaptcha-token" type="hidden" name="token" value="">
        </div>
    </form>
</section>


<partial name="~/Views/Shared/_LogoSection.cshtml" />
